/* General Styles */

body {
  font-family: "Lucida Grande", Helvetica, Arial;
  font-size: .9em;
  color: #333;
  background: #e9e9e9;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #3B80AD;
  text-decoration: none;
}

a:hover {
  color: #3A97D4;
}

h2 {
  margin: 10px 0;
}

/* Form Styles */

.input-block input{
  display: block;
  padding: 5px;
  border: 2px #ddd solid;
  border-radius: 3px;
  margin: 5px 0 15px 0;
}

.input-block select {
  margin: 5px 0 15px 0;
}

.submit-block input {
  padding: 10px 40px;
  border-radius: 1px;
  border: none;
  background: #3A97D4;
  color: #fff;
}

  .submit-block input:hover {
    background: #3B80AD;
  }

.delete-form {
  margin-top: 10px;
}

  .delete-form input {
    display: inline;
    color: #cc4040;
  }

  .delete-button {
    color: #D43939;
    background-color: transparent;
    border: none;
    padding: 0;
  }

    .delete-button:hover {
      color: #AC3434;
    }

/* Header Styles */

#header-wrap {
  padding: 10px 0;
  border-bottom: 2px #ddd solid;
  background-color: #fff;
  overflow: hidden;
  postition: relative;
  position: fixed;
  width: 100%;
  top: 0;
}

  #header-wrap header {
    width: 95%;
    margin: 0 auto;
  }

    #header-wrap header img {
      float: left;
      width: 100px;
    }

    #header-wrap header select {
      float: left;
      margin-left: 10px;
      background: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: .9em;
      line-height: 1;
      border: 1px #ddd solid;
      border-radius: 3px;
      padding: 0 5px;
      height: 22px;
    }

    #header-wrap header nav {
      float: right;
    }

      #menu-icon {
        font-size: 1em;
        height: 20px;
        cursor: pointer;
      }

      #menu {
        position: fixed;
        margin: 0;
        top: 43px;
        right: 0;
        left: 0;
        padding: 0;
        background-color: #555;
        text-align: center;
      }

        #menu a {
          display: block;
          padding: 10px 0;
          border-bottom: 2px #444 solid;
          color: #fff;
        }

        #menu a:hover {
          background-color: #333;
        }

#content-wrap {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-top: 50px;
}

/*=========*/
/*==Other Pages==*/
/*=========*/

.feed-item {
  background-color: #fff;
  border: 2px #ddd solid;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
}

  .feed-item h5 {
    color: #999;
    font-size: .8em;
    margin: 5px 0 20px 0;
  }

  .feed-item h4 {
    margin: 10px 0;
    font-weight: normal;
  }

  .feed-item .picture {
    border: 1px #ddd solid;
    padding-bottom: 10px;
  }

    .feed-item .picture img {
      width: 100%;
    }

    .feed-item .picture a {
      margin: 10px;
      display: block;
      font-weight: bold;
    }

    .feed-item .picture p {
      margin: 10px;
      font-size: .8em;
    }

    .feed-item .picture small {
      color: #999;
      margin: 10px;
    }

/* What page? */

ul h4 {
  margin: 10px 0 5px 0;
}

.listed-source {
  border: 1px #ddd solid;
  padding: 5px 10px;
  margin-bottom: 5px;
  overflow: hidden;
}

  .listed-source h4, .listed-source a, .listed-source form {
    display: inline;
  }

  .listed-source a, .listed-source form {
    float: right;
    margin: 10px 0 0 10px;
  }

  .listed-source h4, .listed-source h4 a {
    float: left;
    margin-top: -10px;
  }

/*login and create*/

.content-part {
  background-color: #fff;
  border: 2px #ddd solid;
  border-radius: 3px;
  padding: 10px 10px 25px 10px;
  margin: 10px 0;
}

  .content-part h2 {
    margin: 20px 0 10px 0;
  }

  .content-part h4 {
    margin: 20px 0 10px 0;
  }

  .content-part input:not([type=submit]) {
    width: 90%;
  }

/* Flash Stuff */

.flash-alert p {
  color: #cc4040;
}
