/* General Styles */
/*---------------------------------*/
/*---------------------------------*/

/* Enforce word breaks */
* {

  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;

  word-break: break-all;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial;
  font-size: .9em;
  color: #333;
  background: #fff;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #3B80AD;
  text-decoration: none;
}

a:hover {
  color: #3A97D4;
}

/* Header */
/*---------------------------------*/
/*---------------------------------*/

#main-header {
  background: #fff;
  padding: 5px 1% 3px 1%;
  position: fixed;
  width: 98%;
  top: 0;
  text-align: right;
  border-bottom: #ddd solid 2px;
}

#main-header h1 {
  margin: 0;
}

#main-header h1, #feed-select, #refresh-button, #source-name {
  float: left;
  margin-right: 10px;
}

#refresh-button {
  transition: transform 100ms ease-out, color 100ms ease-out;
}

#refresh-button:active {
  transform: rotate(360deg);
  color: #3A97D4;
}

#feed-select {
  margin-top: 7px;
}

#main-header label {
  margin-left: 10px;
}

#refresh-button, #search-icon, #menu-icon {
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 3px;
  display: inline-block;
}

#main-header h1 a img {
  width: 100px;
}

#search-bar {
  margin-top: 0;
  margin-bottom: 5px;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms, margin-top 200ms, margin-bottom 200ms;
}

#search-bar input[type="text"] {
  width: 85%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: none;
  border-top: 1px #ccc solid;
  border-left: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}

#search-bar input[type="submit"] {
  width: 15%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  border: none;
  background: #3A97D4;
  color: #fff;
  border-top: 1px #3A97D4 solid;
  border-bottom: 1px #3A97D4 solid;
}

#search-bar input[type="submit"]:hover {
  background: #999;
}

#search-control:checked ~ label #search-icon, #search-icon:hover {
  color: #3A97D4;
}

#search-control:checked ~ #search-bar {
  max-height: 50px;
  margin-top: 10px;
}

#search-control {
  display: none;
}

#menu-control {
  display: none;
}

#menu {
  position: fixed;
  top: 33px;
  right: 0;
  left: 0;
  background: #555;
  z-index: 100;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms, top 200ms;
  text-align: center;
}

#menu-control:checked ~ #main-nav #menu {
  max-height: 200px;
}

#menu-control:checked ~ label #menu-icon, #menu-icon:hover {
  color: #3A97D4;
}

#menu li a {
  display: block;
  padding: 10px 0;
  color: #fff;
  border-bottom: 1px #333 solid;
}

#main-nav #menu li a:hover {
  background: #777;
}

/* adjust menu to account for search bar */
#search-control:checked ~ #main-nav #menu {
  top: 70px;
}

/* Content */
/*---------------------------------*/
/*---------------------------------*/

#outer-wrap {
  padding-top: 60px;
  background: #eee;
  overflow: hidden;
}

#content-wrap img, #content-wrap video  {
  max-width: 100%;
}

.feed-item {
  background: #fff;
  display: block;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.feed-item h5 {
  float: left;
  display: inline-block;
  font-size: .8em;
  margin: 0;
}

.feed-item h4 {
  margin-top: 35px;
  font-weight: normal;
}

.feed-item .feed-date {
  float: right;
  display: inline-block;
  font-size: .8em;
  color: #777;
}

.feed-item .main-link {
  display: block;
  font-weight: 600;
  margin-top: 10px;
}

.feed-item small {
  color: #777;
}

@media (min-width: 768px) {
  .feed-item {
    width: 600px;
    margin: 0 auto 10px auto;
    border-right: 2px #ddd solid;
    border-left: 2px #ddd solid;
    padding: 20px 20px;
  }
}

@media (min-width: 1340px) {
  #content-wrap {
    width: 1320px;
    margin: 0 auto;
  }

  .feed-item {
    float: left;
    width: 606px;
    margin: 0 5px 10px 5px;
    border-right: 2px #ddd solid;
    border-left: 2px #ddd solid;
    padding: 20px 20px;
  }

  .feed-item:nth-child(odd) {
    clear: left;
  }
}

/* Classes */
/*---------------------------------*/
/*---------------------------------*/

.clear {
  clear: both;
}
