<h2>{{title}}</h2>

<form action="/{{userId}}/feeds/{{feed._id}}/edit" method="post">
  <input type="hidden" name="_method" value="put">
  <div class="input-block">
    <label for="title">Title</label>
    <input type="text" name="title">
  </div>
  <div class="submit-block">
    <input type="submit" value="Update Feed">
  </div>
</form>
