<div class="content-part">
  <h2>{{title}}</h2>

  <form action="/{{userId}}/feeds/new" method="post">
    <div class="input-block">
      <input type="text" name="title" placeholder="feed's title">
    </div>
    <div class="submit-block">
      <input type="submit" value="Create Feed">
    </div>
  </form>
</div>
