<h2>{{feed.title}}</h2>

<div id="feed-options">

  <a class="edit-button" href="/{{userId}}/feeds/{{feed._id}}/edit">Edit Feed</a>

</div>

<div id="display-source">

</div>

<script src="/js/feed-request.js"></script>
