<h2>{{source.name}}</h2>

<a class="edit-button" href="/{{userId}}/feeds/{{feed._id}}/sources/{{source._id}}/edit">Edit Source</a>

<div id="display">

</div>
<script src="/js/source-request.js"></script>
