<div class="content-part">
  <h2>{{title}}</h2>

  <form action="/" method="post">
    <div class="input-block">
      <input type="email" name="email" placeholder="email">
    </div>
    <div class="input-block">
      <input type="password" name="password" placeholder="password">
    </div>
    <div class="submit-block">
      <input type="submit" value="Login">
    </div>
    <a href="/forgot">Forgot your password?</a>
  </form>
</div>
