<h2>{{title}}</h2>

<!-- Method Override Needed -->
<form action="/new" method="post">
  <input type="hidden" name="_method" value="put">
  <div class="input-block">
    <label for="email">Email</label>
    <input type="email" name="email" value="{{user.email}}">
  </div>
  <div class="input-block">
    <label for="password">Password</label>
    <input type="password" name="password">
  </div>
  <div class="submit-block">
    <input type="submit" value="Update Account">
  </div>
</form>
