<div class="content-part">
  <h2>{{title}}</h2>

  <form action="/forgot" method="post">
    <div class="input-block">
      <input type="email" name="email" placeholder="enter your email">
    </div>
    <div class="submit-block">
      <input type="submit" value="Reset Password">
    </div>
  </form>
</div>
