<h2>{{title}}</h2>

<form action="/new" method="post">
  <div class="input-block">
    <label for="email">Email</label>
    <input type="email" name="email">
  </div>
  <div class="input-block">
    <label for="password">Password</label>
    <input type="password" name="password">
  </div>
  <div class="submit-block">
    <input type="submit" value="Create Account">
  </div>
</form>
