<div class="content-part">
  <h2>{{title}}</h2>

  <form action="/users/new" method="post">
    <div class="input-block">
      <input type="email" name="email" placeholder="enter your email">
    </div>
    <div class="input-block">
      <input type="password" name="password" placeholder="enter a password">
    </div>
    <div class="input-block">
      <input type="password" name="confirmation" placeholder="confirm your password">
    </div>
    <div class="submit-block">
      <input type="submit" value="Create Account">
    </div>
  </form>
</div>
